body {
  background-color: #202020;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.osmuzov {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  color: #dadada;
  font-size: 10vw;
  font-size: 10vh;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}


.container {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navigation_buttons {
  text-decoration: none;
  margin: 10px;
  color: #676767;
  font-size: 2vw;
  font-size: 2vh;
  transition: all 0.2s linear;
}

.navigation_buttons:hover {
  color: #dadada;
}
